@font-face {
  font-family: 'Space Grotesk Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Grotesk Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'Space Grotesk Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Space Grotesk SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Space Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff') format('woff');
}
